@charset "utf-8";

body {font-family:sans-serif;}
#navbar {display:none;}
a:link:after {content:<&quot; (&quot; attr(href) &quot;) &quot;;}
a:link {text-decoration:underline;}
p {font-size:12pt;}

.coupon {list-style:none;}
.coupon img {visibility:visible;}
.coupon h1 {display:none;}
.coupon p {display:none;}
.coupon ul {display:none;}


