body {
  background-image: url(/images/background.png);
}
form li.focused {
  background-color: rgb(255, 184, 145);
}
.navbar .brand {
  font-size: 30px;
}
.content {
margin-top:60px;
padding-bottom:120px;
}
.footer {
color:#999999;
}
.footer p {
line-height:20px;
}
.info {

}
.info h2 {
text-align:center;
}
.info .inner {
width: 80%;
margin: 0 auto;
}
.coupon {
outline:1px solid;
height:450px;
}
.coupon h1 {
width:100%;
background:#999;
padding-top:10px;
padding-bottom:10px;
margin-top:0;
}
.coupon img {
display:none;
}
.content ol {
list-style: inline-block;
}
.colophon p {
padding-top: 10px;
}
.navstack {
border-radius: 5px;
}
.nav-stacked i {
float:right;
display:none;
}
.nav-stacked a {
  background-color:#FFF;
}
.nav-stacked a:hover i, .nav-stacked .active a i {
  display:inline-block;
}
.affix {
top: 80px;
}
.info > div {
border-left:1px solid #eee;
}
.info > div.first { border-left:none;
}
.hero-unit {
background-color:rgba(192,192,192,.8);
}
.hero-unit .page-header {
border-bottom-color: #bbbbbb;
}
.wrapper {
width:100%;
background-image:url(/images/slideshow2.jpg);
background-size:1600px;
padding-top:60px;
}
.nav-stacked > .active > a, .nav-stacked > .active > a:hover {
  background-color: #dc4e00;
  color:#FFFFFF;
}
@media (max-width:767px) {
.wrapper {background-image:none;
}
}
@media (max-width: 767px) {
.info > div {
border-top:1px solid #eee;
border-left:none;
}
.info > div.first {
border-top:none;
border-left:none;
}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

/* Retina graphics */
body {
  background-image:url(/images/background_@2x.png);
  }
}

@media (max-width: 979px) {
.hero-unit {margin-top:0;}
}
@media (max-width: 767px) {
  .img-polaroid {display:none;}
  .wrapper { padding-top:0;}
  .content { margin-top:5px;}
  .affix {
    position:relative;
    top:0;
  }
  .hero-unit {
  	padding:20px;
  }
  .hero-unit h1 {
  	font-size:28px;
  }
  .navbar .brand {
  	font-size: 16px;
  }
}
.dl-horizontal dt {
width:auto;
}
.dl-horizontal dd {
margin-left:100px;
}
