<!DOCTYPE html>
<html lang="en" ng-app="scheduler">

<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
	<script type="text/javascript" src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/print.css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <h1 class="text-muted">Schedule</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div ng-controller="ScheduleCtrl" class="row">
            	
            	<div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <h1>{{date | date:'shortDate'}}</h1>
                        </div>
                        <div class="row">
                            <ul class="pull-left pager">
                                <li><a ng-click="decDate()">Previous Day</a></li>
                                <li><a ng-click="incDate()">Next Day</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Change Date</label>
                        <input ui-date ng-model="date">
                    </div>
                </div>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Index</td>
                            <td>Time</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Vehicle</td>
                            <td>Service</td>
                            <td>Status</td>
                            <td>Edit</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="{{appointment.status}}" ng-repeat="appointment in appointments  | listByDate:date | orderBy:predicate track by $index">
                            <td>{{$index}}</td>
                            <td>{{appointment.date | date:'hh:mm a'}}</td>
                            <td>{{appointment.name}}</td>
                            <td>{{appointment.contact.phone}}</td>
                            <td>{{appointment.vehicle.year.year}} {{appointment.vehicle.make.name}} {{appointment.vehicle.model.name}}</td>
							<td>{{appointment.service}}</td>
							<td><select class="form-control" ng-model="appointment.status" ng-change="updateAppointment(appointment)" ng-options="status.value as status.name for status in statuses"></td>
                            <td><button class="btn btn-warning btn-sm" ng-click="editAppointment($index)">Edit</button></td>
                            <td><button class="btn btn-danger btn-sm" ng-click="deleteAppointment($index)">X</button></td>
                        </tr>
                    </tbody>
                </table>
                <form id="appointmentForm" name="appointmentForm" ng-submit="addAppointment(appointment)">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>Date & Time</h3>
                            <div class="row">
                                <div ui-date="dateOptions" required ng-model="appointment.date"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="row">
                                        <select class="form-control" required ng-model="appointment.time.hour" ng-options="hour.hour as hour.name for hour in hours"></select>
                                    </div>    
                                </div>
                                <div class="col-sm-3">
                                    <div class="row">
                                        <select class="form-control" required ng-model="appointment.time.minute" ng-options="minute.minute as minute.name for minute in minutes"></select>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 ">
                            <div class="col-sm-12">
                                <h3>Customer</h3>
                                <hr>
                                <div class="col-sm-4">
                                    <label>Customer Name</label>
                                    <input class="form-control" placeholder="Name" required type="text" ng-model="appointment.name">
                                </div>
                                <div class="col-sm-4">
                                    <label>Phone Number</label>
                                    <input class="form-control" placeholder="#(#)###-####" type="text" ng-model="appointment.contact.phone">
                                </div>
                                <div class="col-sm-4">
                                    <label>Service</label>
                                    <input class="form-control" required placeholder="Service" type="text" ng-model="appointment.service">
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-12">
                                <h3>Vehicle</h3>
                                <hr>
                                <div class="col-sm-4">
                                    <label>Make</label>
                                    <select class="form-control" required ng-change="getModels()" ng-model="appointment.vehicle.make" ng-options="v.name for v in vehicles"></select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Model</label>
                                    <select class="form-control" required ng-change="getYears()" ng-disabled="!appointment.vehicle.make" ng-model="appointment.vehicle.model" ng-options="m.name for m in models"></select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Year</label>
                                    <select class="form-control" ng-disabled="!appointment.vehicle.model" ng-model="appointment.vehicle.year" ng-options="y.year for y in years"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="pull-right btn btn-primary btn-lg" form="appointmentForm" type="submit">Add</button>
                        </div>
                    </div>
            	</form>
                
            </div>
        </div>
    </div>
</body>

</html>
