<div class="footer navbar navbar-inverse navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <ul class="nav span5">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/services/">Services</a></li>
          <li><a href="/promotions/">Promotions</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <div class="colophon pull-right span7">
          <p>Princess Anne Automotive Center<span> | </span>5333 East Princess Anne Road<span> | </span>Norfolk, VA 23502<span> | </span>1(757)858-0744</p>
          <p>Follow us on <a href="http://facebook.com/princessanneauto">Facebook</a>!</p>
        </div>
      </div>
    </div>
  </div>
</div>