<div class="footer navbar navbar-inverse navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <ul class="nav span5">
          <li{% if page.name == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
          <li{% if page.name == 'services' %} class="active"{% endif %}><a href="/services">Services</a></li>
          <li{% if page.name == 'about' %} class="active"{% endif %}><a href="/about">About</a></li>
          <li{% if page.name == 'promotions' %} class="active"{% endif %}><a href="/promotions">Promotions</a></li>
          <li{% if page.name == 'contact' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
        </ul>
        <div class="colophon pull-right span7">
          <p>Princess Anne Automotive Center<span> | </span>5333 East Princess Anne Road<span> | </span>Norfolk, VA 23502<span> | </span>1(757)858-0744</p>
          <p>Follow us on <a href="http://facebook.com/princessanneauto">Facebook</a>!</p>
        </div>
      </div>
    </div>
  </div>
</div>