<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Princess Anne Automotive Center</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% if page.name == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
          <li{% if page.name == 'about' %} class="active"{% endif %}><a href="/about">About</a></li>
          <li{% if page.name == 'promotions' %} class="active"{% endif %}><a href="/promotions">Promotions</a></li>
          <li{% if page.name == 'services' %} class="active"{% endif %}><a href="/services">Services</a></li>
          <li{% if page.name == 'contact' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>