<!DOCTYPE html>
<html lang="en" ng-app="estimator">

<head>
    <meta charset="UTF-8">
    <title>Estimate Calculator</title>
    </script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/print.css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <h1 class="text-muted">Estimator</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div ng-controller="EstimateCtrl" class="row">
                <div class="well col-lg-5">
                    <div class="part_form">
                        <form name="partForm" ng-submit="addToParts(item)" class="form-horizontal">
                            <fieldset>
                                <legend>Item</legend>
                                <div class="control-group">
                                    <label class="control-label">Item Name</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Name" required ng-model="item.name" class="form-control input-lg">
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group">
                                    <label class="control-label">Part Cost</label>
                                    <div class="row controls">
                                        <div class="input-group col-lg-12">
                                            <span class="input-group-addon">$</span>
                                            <input placeholder="Cost" type="text" ng-model="item.costPrice" class="form-control input-lg">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="item.dealer">Dealer
                                            </span>
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="item.manualSale">Override
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div ng-show="item.manualSale" class="control-group">
                                    <label class="control-label">Sale Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" placeholder="Sale Price" ng-required="item.manualSale" ng-model="item.salePrice" class="form-control input-lg">
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group">
                                    <div class="row controls">
                                        <div class="input-group col-lg-5">
                                            <span class="input-group-addon">x</span>
                                            <input type="text" placeholder="Quantity" ng-model="item.quantity" class="form-control input-lg">
                                        </div>
                                        <div class="input-group col-lg-7">
                                            <span class="input-group-addon">
                                                <input type="checkbox" ng-model="item.manualLabor">Price
                                            </span>
                                            <span ng-show="item.manualLabor" class="input-group-addon">$</span>
                                            <input type="text" placeholder="Labor Hours" ng-show="!item.manualLabor" ng-model="item.laborHours" class="form-control input-lg">
                                            <input type="text" placeholder="Labor Price" ng-show="item.manualLabor" ng-model="item.laborPrice" class="form-control input-lg">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">Vendor</label>
                                        <select class="form-control input-lg" ng-model="item.vendor" ng-change="optionSelected(item)" ng-options="v.name for v in vendors"></select>
                                    </div>
                                </div>
                                <hr>
                                <button type="submit" ng-disabled="!partForm.$valid" class="pull-right clearfix btn btn-lg btn-primary">Add</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Work Order</h3>
                        </div>
                        <table ng-show="parts.total != undefined" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <td>Item</td>
                                    <td class="no_print">Cost</td>
                                    <td>Vendor</td>
                                    <td class="no_print">Dealer?</td>
                                    <td class="no_print">Tire?</td>
                                    <td>Price</td>
                                    <td>Labor Hours</td>
                                    <td>Labor Price</td>
                                    <td>Total</td>
                                    <td class="no_print">Remove</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="part in parts">
                                    <td>{{part.name}}
                                        <br><a ng-click="edit($index)">Edit</a>
                                    </td>
                                    <td class="no_print">{{part.costPrice | currency}}
                                        <br>
                                        <span class="pull-right text-muted">x{{part.quantity}}</span>
                                    </td>
                                    <td>{{part.vendor.name}}</td>
                                    <td class="text-center">
                                        <span ng-show="part.dealer" class="no_print glyphicon glyphicon-ok"></span>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="part.tires" class="no_print glyphicon glyphicon-ok"></span>
                                    </td>
                                    <td>{{part.salePriceTotal | currency}}</td>
                                    <td>{{part.laborHours | number:2 }}
                                        <ng-pluralize count="part.laborHours" when="{ 'one': 'Hour', 'other' : 'Hours'}">
                                        </ng-pluralize>
                                    </td>
                                    <td>{{part.laborPrice | currency}}</td>
                                    <td>{{part.totalPrice | currency}}</td>
                                    <td class="no_print">
                                        <button ng-click="deletePart($index)" class="btn btn-xs btn-danger">X</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfooter>
                                <tr>
                                    <td colspan="8" class="text-right">Total</td>
                                    <td colspan="2" class="text-right">{{parts.total | currency}}</td>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                    <div class="order_form">
                        <form ng-submit="addToHistory(parts)">
                            <div class="input-group">
                                <input type="text" placeholder="Order Name" required ng-model="parts.name" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success pull-right">Save Order</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row"></div>
                <div class="panel panel-default order_table">
                    <div class="panel-heading">
                        <h3 class="panel-title">Order History</h3>
                    </div>
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Time</td>
                                <td>Date</td>
                                <td>Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in orders | orderBy:predicate | limitTo:'30'">
                                <td>{{order.name}}</td>
                                <td>{{order.date | date:'hh:mma' }}</td>
                                <td>{{order.date | date:'shortDate'}}
                                    <td>{{order.total | currency}}</td>
                                    <td> <a ng-click="editOrder($index)">Edit</a>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
