<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-7" ng-controller="ScheduleCtrl">
				<h1>Today</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>Time</td>
							<td>Name</td>
							<td>Vehicle</td>
							<td>Service</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="appointment in appointments | listByDate:date | orderBy:predicate">
							<td>{{appointment.date | date:'hh:mm a'}}</td>
	                        <td>{{appointment.name}}</td>
	                        <td>{{appointment.vehicle.year}} {{appointment.vehicle.make}} {{appointment.vehicle.model}}</td>
							<td>{{appointment.service}}</td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-primary" href="/hub/scheduler">See more <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="col-md-5" ng-controller="PhoneCtrl">
                <h3>Phone Directory</h3>
                <input class="form-control" placeholder="search" ng-model="searchTxt">
                <div class="partial">
                	<div class="overlay">
                	</div>
	                <table class="table table-hover table-bordered partial">
	                    <thead>
	                        <tr>
	                            <td>Name</td>
	                            <td>Number</td>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="phonenumber in phoneDirectory | filter:searchTxt">
	                            <td>{{phonenumber.name}}</td>
	                            <td>
	                                <ul>
	                                    <li ng-repeat="number in phonenumber.numbers">{{number}}</li>
	                                </ul>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
				</div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-7" ng-controller="EstimateCtrl">
				<h1>Recent Estimates</h1>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Time</td>
                            <td>Date</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders | orderBy:predicate | limitTo:'5'">
                            <td>{{order.name}}</td>
                            <td>{{order.date | date:'hh:mma' }}</td>
                            <td>{{order.date | date:'shortDate'}}
                            <td>{{order.total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="/hub/estimator">See more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
		</div>
	</div>
</div>