<div class="container">
    <div class="content">
        <div class="row">
            <div class="well col-lg-5">
                <div class="part_form">
                    <form name="partForm" ng-submit="addToParts(item)" class="form-horizontal">
                        <fieldset>
                            <legend>Job</legend>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" placeholder="Job name" required ng-model="item.name" class="form-control input-lg">
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="row controls">
                                    <div class="input-group col-lg-5">
                                        <span class="input-group-addon">$</span>
                                        <input placeholder="Part cost" type="text" ng-model="item.costPrice" class="form-control input-lg">
                                    </div>
                                    <div class="btn-group col-lg-7">
                                        <button type="button" class="btn btn-lg btn-primary" ng-model="item.matrix" btn-radio="'normal'">Normal</button>
                                        <button type="button" class="btn btn-lg btn-primary" ng-model="item.matrix" btn-radio="'dealer'">Dealer</button>
                                        <button type="button" class="btn btn-lg btn-primary" ng-model="item.matrix" btn-radio="'tire'">Tire</button>
                                    </div>
                                </div>
                                <div class="row controls">
                                    <div class="col-lg-12">
                                        <input type="checkbox" ng-model="item.manualSale"> Manual Sale Price Entry
                                    </div>
                                </div>
                            </div>
                            <div ng-show="item.manualSale" class="control-group">
                                <label class="control-label">Sale Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" placeholder="Sale Price" ng-required="item.manualSale" ng-model="item.salePrice" class="form-control input-lg">
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="row controls">
                                    <div class="input-group col-lg-5">
                                        <span class="input-group-addon">x</span>
                                        <input type="text" placeholder="Quantity" ng-model="item.quantity" class="form-control input-lg">
                                    </div>
                                    <div class="input-group col-lg-7">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-model="item.manualLabor">Price
                                        </span>
                                        <span ng-show="item.manualLabor" class="input-group-addon">$</span>
                                        <input type="text" placeholder="Labor Hours" ng-show="!item.manualLabor" ng-model="item.laborHours" class="form-control input-lg">
                                        <input type="text" placeholder="Labor Price" ng-show="item.manualLabor" ng-model="item.laborPrice" class="form-control input-lg">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="control-label">Vendor</label>
                                    <select class="form-control input-lg" ng-model="item.vendor" ng-change="optionSelected(item)" ng-options="v.name for v in vendors"></select>
                                </div>
                            </div>
                            <hr>
                            <button type="submit" ng-disabled="!partForm.$valid" class="pull-right clearfix btn btn-lg btn-primary">Add <span class="glyphicon glyphicon-arrow-right"></span></button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Work Order
                            <a href="javascript:window.print()" class="pull-right text-success no_print">Print <i class="glyphicon glyphicon-print"></i></a>
                        </h3>
                    </div>
                    <table ng-show="parts.total != undefined" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td class="no_print">Cost</td>
                                <td class="no_print">Vendor</td>
                                <td class="no_print">Matrix</td>
                                <td>Price</td>
                                <td>Labor Hours</td>
                                <td>Labor Price</td>
                                <td>Total</td>
                                <td class="no_print">Edit</td>
                                <td class="no_print">Remove</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="part in parts">
                                <td>{{part.name}}
                                    <br>
                                </td>
                                <td class="no_print">{{part.costPrice | currency}}
                                    <br>
                                    <span class="pull-right text-muted">x{{part.quantity}}</span>
                                </td>
                                <td class="no_print">{{part.vendor.name}}</td>
                                <td class="no_print text-center">
                                    {{part.matrix}}
                                </td>
                                <td>{{part.salePriceTotal | currency}}</td>
                                <td>{{part.laborHours | number:2 }}
                                    <ng-pluralize count="part.laborHours" when="{ 'one': 'Hour', 'other' : 'Hours'}">
                                    </ng-pluralize>
                                </td>
                                <td>{{part.laborPrice | currency}}</td>
                                <td>{{part.totalPrice | currency}}</td>
                                <td class="no_print">
                                    <button class="btn btn-xs btn-primary" ng-click="edit($index)"><span class="glyphicon glyphicon-arrow-left"></span> Edit</button></td>
                                <td class="no_print">
                                    <button ng-click="deletePart($index)" class="btn btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul ng-show="parts.total != undefined" class="list-unstyled text-right">
                        <li><b>Subtotal:</b> {{parts.subTotal | currency}}</li>
                        <li><b>Shop Supplies:</b> {{parts.shopSupplies | currency}}</li>
                        <li><b>Hazardous Materials:</b> {{parts.hazardMaterials | currency}}</li>
                        <li><b>Tax:</b> {{parts.tax | currency}}</li>
                        <li><b>Total:</b> {{parts.total | currency}}</li>
                    </ul>
                </div>
                <div class="order_form">
                    <form ng-submit="addToHistory(parts)">
                        <div class="input-group">
                            <input type="text" placeholder="Order Name" required ng-model="parts.name" class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Save Order <i class="glyphicon glyphicon-save"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row"></div>
            <div class="panel panel-default order_table">
                <div class="panel-heading">
                    <h3 class="panel-title">Order History</h3>
                </div>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Time</td>
                            <td>Date</td>
                            <td>Total</td>
                            <td>Edit</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders | orderBy:predicate | limitTo:'15'">
                            <td>{{order.name}}</td>
                            <td>{{order.date | date:'hh:mma' }}</td>
                            <td>{{order.date | date:'shortDate'}}
                            <td>{{order.total | currency}}</td>
                            <td><a ng-click="editOrder($index)">Edit</a></td>
                            <td><a ng-click="deleteOrder($index)">Remove</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>