<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Time</td>
            <td>Date</td>
            <td>Total</td>
            <td>Edit</td>
            <td>Remove</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in localModel | orderBy:predicate | pagination:this">
            <td>{{order.name}}</td>
            <td>{{order.date | date:'hh:mma' }}</td>
            <td>{{order.date | date:'shortDate'}}
            <td>{{order.total | currency}}</td>
            <td><a ng-click="editOrder($index)">Edit</a></td>
            <td><a ng-click="deleteOrder($index)">Remove</a></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" ng-click="prevPage()">Previous</button>
<button class="btn btn-primary" ng-click="nextPage()">Next</button>