<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="{{ page.description }}" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />

<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<style>
#content {
  background: white;
}
</style>
</head>
<body id="main">
  <div id="wrapper">
    <header>
      <h1 class="pop" id="title"><a href="/">Princess Anne<br> Automotive Center</a></h1>
      <nav>
        <ul class="menuitem" id="navbar">
          <li><a class="pop" id="about" href="/about/">About</a></li>
          <li><a class="pop" id="services" href="/services/">Services</a></li>
          <li><a class="pop" id="promotions" href="/promotions/">Promotions</a></li>
        </ul>
      </nav>
    </header>
    <div id="content" class="">
      {{ content }}
    </div>
    <footer>
      <ul class="sitemap">
        <li><a href="/">Home</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/promotions/">Promotions</a></li>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>
      <p>Princess Anne Automotive Center<span> | </span>5333 East Princess Anne Road<span> | </span>Norfolk, VA 23502<span> | </span>1(757)858-0744</p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
        <script>
        var POPOUT_cfg = {

          'canvasID': 'depth',                //ID to apply to injected canvas
          'popSelector': '.pop',              //Selector to use for targeting elements to be "popped".

          'gradientStop': 60,                 //Color stop adjustment.
          'stroke': true,                     //Apply stroke effect?
          'noSides': true,                    //Should we draw all faces or just the top/bottom?

          //Unsupported properties
          'height': 225, //Declare a height other than full page.
          'vanishingPoint': {
            'x': Math.round($(document).width() / 2),
            'y': 900,
            'xRecalc': true,
            'yRecalc': false
          }

        }
        </script>
    <script src="/js/popout-z_unminified.js" type="text/javascript"></script>

  </div>
</html>