<!DOCTYPE html>
<html lang="en" ng-app="hooptie">

<head>
    <meta charset="UTF-8">
    <title>Hooptie</title>

    <script type="text/javascript" src="/hub/assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/hub/assets/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/hub/assets/bootstrap-css/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/hub/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/hub/assets/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/hub/assets/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/hub/assets/angular-ui-date/src/date.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src='/hub/js/scheduler/controllers.js'></script>
    <script src='/hub/js/scheduler/services.js'></script>
    <script src='/hub/js/scheduler/filters.js'></script>
    <script src='/hub/js/secretary/controllers.js'></script>
    <script src='/hub/js/secretary/services.js'></script>
    <script src='/hub/js/estimator/controllers.js'></script>
    <script src='/hub/js/estimator/services.js'></script>
    <script src='/hub/js/app.js'></script>
    <link rel="stylesheet" href="/hub/assets/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="/hub/assets/bootstrap-css/css/bootstrap.css">
    <link rel="stylesheet" href="/hub/css/style.css">
    <link rel="stylesheet" href="/hub/css/print.css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <h1 class="text-muted"><a href="/hub/">Hooptie</a></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="estimator">Estimator</a></li>
            <li><a href="scheduler">Scheduler</a></li>
            <li><a href="secretary">Secretary</a></li>
        </ul>
    </div>
    <div ng-view>
        
    </div>
    <div ng-controller="ScheduleCtrl" class="container">
    <div class="content">
        <div class="row">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <h1>{{date | date:'shortDate'}}</h1>
                    </div>
                    <div class="row">
                        <ul class="pull-left pager">
                            <li><a ng-click="decDate()">Previous Day</a></li>
                            <li><a ng-click="incDate()">Next Day</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Change Date</label>
                    <input ui-date ng-model="date">
                </div>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Name</td>
                        <td>Contact</td>
                        <td>Vehicle</td>
                        <td>Mileage</td>
                        <td>Service</td>
                        <td>Status</td>
                        <td>Edit</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{{appointment.status}} table-item" ng-repeat="appointment in appointments  | listByDate:date | orderBy:predicate">
                        <td>{{appointment.date | date:'hh:mm a'}}</td>
                        <td>{{appointment.name}}</td>
                        <td>{{appointment.contact.phone}}</td>
                        <td>{{appointment.vehicle.year}} {{appointment.vehicle.make}} {{appointment.vehicle.model}}</td>
                        <td>{{appointment.vehicle.mileage}}</td>
                        <td>{{appointment.service}}</td>
                        <td><select class="form-control" ng-model="appointment.status" ng-options="status.value as status.name for status in statuses"></td>
                        <td><button class="btn btn-warning btn-sm" ng-click="editAppointment(appointment)">Edit</button></td>
                        <td><button class="btn btn-danger btn-sm" ng-click="deleteAppointment(appointment)">X</button></td>
                    </tr>
                </tbody>
            </table>
            <form id="appointmentForm" name="appointmentForm" ng-submit="addAppointment(appointment)">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Date & Time</h3>
                        <div class="row">
                            <div ui-date="dateOptions" required ng-model="appointment.date"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <select class="form-control" required ng-model="appointment.time.hour" ng-options="hour.hour as hour.name for hour in time.hours"></select>
                                </div>    
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <select class="form-control" required ng-model="appointment.time.minute" ng-options="minute.minute as minute.name for minute in time.minutes"></select>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="col-sm-12">
                            <h3>Customer</h3>
                            <hr>
                            <div class="col-sm-4">
                                <label>Customer Name</label>
                                <input class="form-control" placeholder="Name" required type="text" ng-model="appointment.name">
                            </div>
                            <div class="col-sm-4">
                                <label>Phone Number</label>
                                <input class="form-control" placeholder="#(#)###-####" type="text" ng-model="appointment.contact.phone">
                            </div>
                            <div class="col-sm-4">
                                <label>Service</label>
                                <input class="form-control" required placeholder="Service" type="text" ng-model="appointment.service">
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="col-sm-12">
                            <h3>Vehicle</h3>
                            <hr>
                            <div class="col-sm-3">
                                <label>Make</label>
                                <input class="form-control" ng-model="appointment.vehicle.make">
                                <!-- <select class="form-control" ng-change="getModels()" ng-model="<appointment class="vehicle make"></appointment>" ng-options="v.name for v in vehicles"></select> -->
                            </div>
                            <div class="col-sm-3">
                                <label>Model</label>
                                <input class="form-control" ng-model="appointment.vehicle.model">
                                <!-- <select class="form-control" required ng-change="getYears()" ng-disabled="!appointment.vehicle.make" ng-model="appointment.vehicle.model" ng-options="m.name for m in models"></select> -->
                            </div>
                            <div class="col-sm-3">
                                <label>Year</label>
                                <input class="form-control" ng-model="appointment.vehicle.year">
                                <!-- <select class="form-control" ng-disabled="!appointment.vehicle.model" ng-model="appointment.vehicle.year" ng-options="y.year for y in years"></select> -->
                            </div>
                            <div class="col-sm-3">
                                <label>Mileage</label>
                                <input class="form-control" placeholder="mileage" ng-model="appointment.vehicle.mileage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="pull-right btn btn-primary btn-lg" form="appointmentForm" type="submit">Add</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

</div>

</body>

</html>
